.show {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;

    img {
      margin-top: 1rem;
    }

    map
}

.writing {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    margin-bottom: .6em;
    color: #565656;
  }
}

#right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.title {
  margin: .8em;
  text-align: center;
  font-weight: bold;
  color: #1e73fc;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $light-grey;
  padding: 1em;
  margin-top: 1rem;
  border-radius: 15px;
  margin: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

#listing-title {
  color: #2A73FB;
}

#listing-price {
  strong {
    color: #2A73FB;
  }
}

#listing-address {
    strong {
    color: #2A73FB;
  }
}
