.show {
  display: flex;
  justify-content: space-between;
}

.writing {
  padding: 1em;

  h3 {
    margin-bottom: .6em;
    color: #565656;
  }
}

.title {
  margin: .8em;
  text-align: center;
  font-weight: bold;
  color: #1e73fc;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  padding: 1em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}
