<div class="banner">
  <div class="landing-text">
    <h1>Online Helicopter Rentals</h1><br>
    <p>Get where you need to go fast!</p>
  </div>
  <%= link_to 'See Our Choppers', listings_path, class: 'yellow-button' %>
</div>

