.card {
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
  height: 350px;
  border-radius: 8px;
}

.card-text {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #e5a032;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  position: relative;
  background-color: #14213d;
  border-radius: 0px 0px 8px 8px;
}

#price {
  color: #f2c379;
  font-weight: bold;
  font-size: 20px;
}

.card-title {
  color: $yellow;
}


.card-img-top {
  border-radius: 8px 8px 0px 0px;
}

