.card {
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
  height: 350px;
}

.card-text {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  color: gray;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  position: relative;
}

#price {
  color: #1b56b7;
  font-weight: bold;
  font-size: 20px;
}

.card-title {
  width: 100%;
}
