.navbar-lewagon {
  justify-content: space-between;
  background: white;

  h1 {
    font-weight: bold;
      color: #1b56b7;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  display: flex;
}

.search {
  // height: 20px;
align-items: center;
  width: 100%;
}

#search-form {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.price {
  display: flex;
  padding: 0 16px;


    h4 {
      padding: 0 16px;
    }
}
