.navbar-lewagon {
  justify-content: space-between;
  background: #9fdcf2;


  h1 {
    font-weight: bold;
    font-size: 42px;
    background: -webkit-linear-gradient(rgb(101, 215, 230), rgb(48, 51, 192));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  display: flex;
}
